{% include '_header.twig' %}
			<!-- Main -->
				<div id="main">
				
				<section id="one">
				</section>
				
					{% for record in records %}
					<!-- One -->
						<section>
							<div class="container">
								<header class="major">
									<h2>{{ record.title }}</h2>
								</header>
								<p>
								{{ record.teaser }}
								
								<a href="{{ record.link }}">Read more...</a>
								</p>
							</div>
						</section>
					{% endfor %}	
					
				
				</div>

{% include '_footer.twig' %}